.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #3b3b3b, $alpha: 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 10;
  animation: fadein 0.3s;
}
.modal.display-none {
  display: none;
}

.modal-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  animation: fadeInDown 0.2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  margin-top: 15px;
}
.actions {
  margin-top: 15px;
  display: flex;
  flex-direction: row-reverse;
  button {
    color: #333;
    border: 1px solid #333;
    font-size: large;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
