.product-detail-card {
  padding: 10px 15px;
  padding-bottom: 0;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;

  .product-card-footer {
    display: grid;
    row-gap: 10px;
    .buttons {
      display: flex;
      .disabled {
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
      }
    }
  }

  .product-detail-content {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .product-detail-card {
    width: 90%;
  }
}
.product-detail-card-header {
  font-size: xx-large;
  border-bottom: 1px solid #e8e8e8;
}

.product-detail-card-body {
  display: flex;
  padding-bottom: 5px;

  .btn-detail {
    font-size: 17px;
    padding: 7px;
  }
}

.quantity-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  button {
    background-color: #c7c6c6;
    color: #333;
    width: 30px;
    height: 30px;
    line-height: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: x-large;
  }
  label {
    color: #333;
    font-size: 25px;
  }
}
