.nav-bar {
  width: 100%;
  list-style-type: none;
  background-color: #333;
  li {
    display: flex;
    align-items: center;
    color: white;
    height: 100%;
  }
}

.nav-bar a {
  text-decoration: none;
  display: block;
  color: white;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 20px;
}

.nav-bar-items-list {
  height: 60px;
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .nav-bar-items-list {
    width: 70%;
    margin-left: auto;
  }
}

@media only screen and (max-width: 568px) {
  .nav-bar-items-list {
    width: 90%;
    margin-left: 5%;
  }
}
