.products-header {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.products-list {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  column-gap: 4%;
  row-gap: 30px;
}

@media only screen and (max-width: 1024px) {
  .products-list {
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
  }
}

@media only screen and (max-width: 767px) {
  .products-list {
    grid-template-columns: 48% 48%;
    column-gap: 4%;
  }
  .products-content {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 398px) {
  .products-list {
    grid-template-columns: auto;
  }
}
.product-card:nth-child(4n + 1):nth-last-child(-n + 4),
.product-card:nth-child(4n + 1):nth-last-child(-n + 4) ~ .product-card {
  margin-bottom: 30px;
}
.no-match {
  height: 80vh;
  font-size: xx-large;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.search-bar {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.glass {
  display: inline-block;
  transform: scaleX(-1);
  font-size: 40px;
  height: 50px;
  text-align: center;
  padding: 10px;
  color: rgb(167, 167, 167);
}

.search-input,
.filter-categories,
option {
  margin-right: 20px;
  height: 30px;
  font-size: 20px;
  border: none;
  color: rgb(82, 82, 82);
  padding: 0 20px;
  border-radius: 15px;
}
.filter-categories {
  border-radius: 10px;
}
.search-input:focus,
.filter-categories:focus {
  outline: none;
}
